/* General CSS styles */

html {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.container {
    padding: 3vw;
}

.row {
    flow: horizontal;
    border-spacing: *;
}

.full-width {
    width: *;
}

input[type=button]:hover {
    cursor: pointer;
}

#log {
    min-height: 50vh;
    max-height: 50vh;
    overflow: scroll;
}

#log > text {
    margin: 0;
    padding: 0 0 0 1vw;
    display: block;
    background: none;
    color: inherit;
}

progress {
    foreground-color: green;
}
