/* General CSS styles */

html {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.container {
    padding: 3vw;
}

.row {
    flow: horizontal;
    border-spacing: *;
}

.full-width {
    width: *;
}

input[type=button]:hover {
    cursor: pointer;
}

#log {
    min-height: 65vh;
    max-height: 65vh;
    overflow: scroll;
    padding: 1vw;
}

progress {
    foreground-color: green;
}
